* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Ubuntu', sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	perspective: 1000px;
	background: linear-gradient(to rigth top, #25eef5, #80b3dd);
}

/* main {
	min-height: 100vh;
	background: linear-gradient(to rigth top, #25eef5, #80b3dd);
	display: flex;
	align-items: center;
} */

.container {
	/* background: lightblue; */
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background: pink; */
}

.card {
	/* transition: 0.5s ease; */
	transform-style: preserve-3d;
	min-height: 30vh;
	width: 35rem;
	border-radius: 20px;
	padding: 0rem 5rem;
	/* background: coral; */
	box-shadow: 0 20px 20px rgba(38, 127, 243, 0.37), 0px 0px 50px rgba(38, 127, 243, 0.37);
}

.sneaker {
	min-height: 35vh;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background: rgb(235, 231, 17); */
}

.sneaker img {
	transition: all 0.5s ease-out;
	width: 12rem;
	z-index: 2;
}

.fondo {
	width: 15rem;
	height: 15rem;
	background: linear-gradient(to right, rgb(235, 231, 17, 0.75), rgb(207, 177, 8, 0.75));
	position: absolute;
	/* border-radius: 50%; */
	z-index: 1;
}

.info h1 {
	transition: all 0.5s ease-out;
	font-size: 3rem;
}

.info h3 {
	transition: all 0.5s ease-out;
	font-size: 1.3rem;
	padding: 2rem 0rem;
	color: blueviolet;
	font-weight: lighter;
}
